<body>
  <div id="question-container">
    <p id="question-text">Ardayı seviyor musun?</p>
    <button class="button grow-shrink" onclick="nextQuestion(this, 'Evet')">Evet</button>
    <button class="button grow-shrink" onclick="nextQuestion(this, 'Hayır')">Hayır</button>
    <button class="button grow-shrink" onclick="nextQuestion(this, 'Belirsiz')">Belirsiz</button>
  </div>
  <div class="progress-container">
    <div class="progress-bar" id="progress-bar"></div>
  </div>
  <div id="result-container" style="display: none;">
    <h2>Sonuçlar:</h2>
    <ul id="answers-list"></ul>
  </div>

  <script>
    const questionsAndAnswers = [
      {
        question: "En sevdiğin renk nedir?",
        answers: ["Mavi", "Kırmızı", "Yeşil"]
      },
      {
        question: "En sevdiğin mevsim hangisi?",
        answers: ["İlkbahar", "Yaz", "Kış"]
      },
      {
        question: "En sevdiğin yemek nedir?",
        answers: ["Pizza", "Sushi", "Köfte"]
      },
      {
        question: "Hangi sporu yapmayı tercih edersin?",
        answers: ["Futbol", "Basketbol", "Yüzme"]
      }, {
        question: "En sevdiğin film türü nedir?",
        answers: ["Aksiyon", "Komedi", "Drama"]
      }, {
        question: "Hangi müzik türünü dinlemeyi severdin?",
        answers: ["Rock", "Pop", "Jazz"]
      }, {
        question: "En sevdiğin tatil yeri neresi?",
        answers: ["Plaj tatili", "Dağ evi", "Şehir turu"]
      }, {
        question: "Hangi hayvanı daha çok seversin?",
        answers: ["Köpek", "Kedi", "Kuş"]
      }, {
        question: "Hangi kitabı en son okudun?",
        answers: ["Bir roman", "Bir bilim kitabı", "Hiç kitap okumam"]
      }, {
        question: "En sevdiğin hobi nedir?",
        answers: ["Resim yapmak", "Seyahat etmek", "Spor yapmak"]
      }, {
        question: "En sevdiğin şehir neresi?",
        answers: ["New York", "Paris", "Tokyo"]
      }, {
        question: "Hangi araba markasını tercih edersin?",
        answers: ["BMW", "Mercedes-Benz", "Audi"]
      }, {
        question: "Hangi yemek tarifini en iyi yaparsın?",
        answers: ["Pasta", "Köri", "Izgara tavuk"]
      }, {
        question: "En sevdiğin içecek nedir?",
        answers: ["Kahve", "Çay", "Meyve suyu"]
      }, {
        question: "En sevdiğin meyve nedir?",
        answers: ["Elma", "Muz", "Çilek"]
      }
    ];


    let currentQuestionIndex = 0;
    let userAnswers = [];

    const questionTextElement = document.getElementById("question-text");
    const questionContainer = document.getElementById("question-container");
    const answerButtons = questionContainer.querySelectorAll(".button");
    const resultContainer = document.getElementById("result-container");
    const answersList = document.getElementById("answers-list");
    const progressBar = document.getElementById("progress-bar");

    function showQuestion(index) {
      const currentQuestion = questionsAndAnswers[index];
      questionTextElement.textContent = currentQuestion.question;
      answerButtons.forEach((button, i) => {
        button.textContent = currentQuestion.answers[i];
        button.classList.remove("selected");
      });
    }

    function showResults() {
      resultContainer.style.display = "block";
      const answersHtml = userAnswers.map(answer => `<li>${answer}</li>`).join('');
      answersList.innerHTML = answersHtml;
    }

    function nextQuestion(button, selectedAnswer) {
      userAnswers.push(selectedAnswer);

      button.classList.add("selected");

      const progressPercentage = ((currentQuestionIndex + 1) / questionsAndAnswers.length) * 100;
      progressBar.style.width = `${progressPercentage}%`;

      if (currentQuestionIndex < questionsAndAnswers.length - 1) {
        currentQuestionIndex++;
        showQuestion(currentQuestionIndex);
      } else {
        questionContainer.style.display = "none";
        showResults();
      }
    }

    showQuestion(currentQuestionIndex);
  </script>
</body>