<body>
  <div id="question-container">
    <p>Ardayı seviyor musun?</p>
    <button class="button grow-shrink">Evet</button>
    <button class="button grow-shrink">Hayır</button>
    <button class="button grow-shrink">Belirsiz</button>

  </div>
  <div class="button-container">
    <button
      id="prev-button"
      class="button"
      disabled>Önceki Soru</button>
    <button id="next-button" class="button">Sonraki Soru</button>
  </div>
  <div id="result-container" style="display: none;">
    <h2>Sonuçlar:</h2>
    <ul id="answers-list"></ul>
  </div>

  <script>
    const questionsAndAnswers = [
      {
        question: "Ardayı seviyor musun2?",
        answers: ["Evet", "Hayır", "Belirsiz"]
      },
      {
        question: "En sevdiğin asker?",
        answers: ["Evet", "Hayır", "Belirsiz"]
      },
      {
        question: "En büyük asker?",
        answers: ["Evet", "Hayır", "Belirsiz"]
      },
      {
        question: "Bu dördüncü soru mu?",
        answers: ["Evet", "Hayır", "Belirsiz"]
      }, {
        question: "Bu beşinci soru mu?",
        answers: ["Evet", "Hayır", "Belirsiz"]
      }
    ];

    let currentQuestionIndex = 0;
    let userAnswers = [];

    const questionContainer = document.getElementById("question-container");
    const prevButton = document.getElementById("prev-button");
    const nextButton = document.getElementById("next-button");
    const answerButtons = questionContainer.querySelectorAll(".button");
    const resultContainer = document.getElementById("result-container");
    const answersList = document.getElementById("answers-list");

    function showQuestion(index) {
      const currentQuestion = questionsAndAnswers[index];
      const questionText = `<p>${
        currentQuestion.question
      }</p>`;
      const answerButtons = currentQuestion.answers.map(answer => `<button class="button">${answer}</button>`).join('');

      questionContainer.innerHTML = questionText + answerButtons;
    }

    function showResults() {
      resultContainer.style.display = "block";
      const answersHtml = userAnswers.map(answer => `<li>${answer}</li>`).join('');
      answersList.innerHTML = answersHtml;
    }

    showQuestion(currentQuestionIndex);

    prevButton.addEventListener("click", () => {
      if (currentQuestionIndex > 0) {
        currentQuestionIndex--;
        showQuestion(currentQuestionIndex);
        nextButton.removeAttribute("disabled");
      }
      if (currentQuestionIndex === 0) {
        prevButton.setAttribute("disabled", true);
      }
    });

    nextButton.addEventListener("click", () => {
      if (currentQuestionIndex < questionsAndAnswers.length - 1) {
        currentQuestionIndex++;
        showQuestion(currentQuestionIndex);
        prevButton.removeAttribute("disabled");
      }
      if (currentQuestionIndex === questionsAndAnswers.length - 1) {
        nextButton.setAttribute("disabled", true);
        nextButton.innerHTML = "Testi Bitir";
      }
    });

    questionContainer.addEventListener("click", (event) => {
      const answerButton = event.target;
      if (answerButton.classList.contains("button")) {
        const selectedAnswer = answerButton.textContent;
        userAnswers.push(selectedAnswer);

        if (currentQuestionIndex < questionsAndAnswers.length - 1) {
          currentQuestionIndex++;
          showQuestion(currentQuestionIndex);
          prevButton.removeAttribute("disabled");
        } else {
          nextButton.setAttribute("disabled", true);
          nextButton.innerHTML = "Testi Bitir";
          showResults();
        }
      }
    });
  </script>
</body>