<div class="custom-radio-button-group">
  <h2>En sevdiğiniz renk?</h2>
  <div class="options">
    <button class="btn green" type="radio" id="green" name="color" value="green" checked>
      <span class="text">Yeşil</span>
    </button>
    <button class="btn blue" type="radio" id="blue" name="color" value="blue">
      <span class="text">Mavi</span>
    </button>
    <button class="btn gray" type="radio" id="gray" name="color" value="gray">
      <span class="text">Gri</span>
    </button>
  </div>
</div>
