<body>
  <div id="question-container">
    <p>Ardayı seviyor musun?</p>
    <button class="button grow-shrink" onclick="nextQuestion('Evet')">Evet</button>
    <button class="button grow-shrink" onclick="nextQuestion('Hayır')">Hayır</button>
    <button class="button grow-shrink" onclick="nextQuestion('Belirsiz')">Belirsiz</button>
  </div>
  <div class="button-container">
    <button
      id="prev-button"
      class="button"
      disabled>Önceki Soru</button>
    <button id="next-button" class="button">Sonraki Soru</button>
  </div>
  <div id="result-container" style="display: none;">
    <h2>Sonuçlar:</h2>
    <ul id="answers-list"></ul>
  </div>

  <script>
    const questionsAndAnswers = [
      {
        question: "En sevdiğin renk nedir?",
        answers: ["Mavi", "Kırmızı", "Yeşil"]
      },
      {
        question: "En sevdiğin mevsim hangisi?",
        answers: ["İlkbahar", "Yaz", "Kış"]
      },
      {
        question: "En sevdiğin yemek nedir?",
        answers: ["Pizza", "Sushi", "Köfte"]
      },
      {
        question: "Hangi sporu yapmayı tercih edersin?",
        answers: ["Futbol", "Basketbol", "Yüzme"]
      }, {
        question: "En sevdiğin film türü nedir?",
        answers: ["Aksiyon", "Komedi", "Drama"]
      }, {
        question: "Hangi müzik türünü dinlemeyi severdin?",
        answers: ["Rock", "Pop", "Jazz"]
      }, {
        question: "En sevdiğin tatil yeri neresi?",
        answers: ["Plaj tatili", "Dağ evi", "Şehir turu"]
      }, {
        question: "Hangi hayvanı daha çok seversin?",
        answers: ["Köpek", "Kedi", "Kuş"]
      }, {
        question: "Hangi kitabı en son okudun?",
        answers: ["Bir roman", "Bir bilim kitabı", "Hiç kitap okumam"]
      }, {
        question: "En sevdiğin hobi nedir?",
        answers: ["Resim yapmak", "Seyahat etmek", "Spor yapmak"]
      }, {
        question: "En sevdiğin şehir neresi?",
        answers: ["New York", "Paris", "Tokyo"]
      }, {
        question: "Hangi araba markasını tercih edersin?",
        answers: ["BMW", "Mercedes-Benz", "Audi"]
      }, {
        question: "Hangi yemek tarifini en iyi yaparsın?",
        answers: ["Pasta", "Köri", "Izgara tavuk"]
      }, {
        question: "En sevdiğin içecek nedir?",
        answers: ["Kahve", "Çay", "Meyve suyu"]
      }, {
        question: "En sevdiğin meyve nedir?",
        answers: ["Elma", "Muz", "Çilek"]
      }
    ];


    let currentQuestionIndex = 0;
    let userAnswers = [];

    const questionContainer = document.getElementById("question-container");
    const prevButton = document.getElementById("prev-button");
    const nextButton = document.getElementById("next-button");
    const answerButtons = questionContainer.querySelectorAll(".button");
    const resultContainer = document.getElementById("result-container");
    const answersList = document.getElementById("answers-list");

    function showQuestion(index) {
      const currentQuestion = questionsAndAnswers[index];
      const questionText = `<p>${
        currentQuestion.question
      }</p>`;
      const answerButtons = currentQuestion.answers.map(answer => `<button class="button grow-shrink" onclick="nextQuestion('${answer}')">${answer}</button>`).join('');

      questionContainer.innerHTML = questionText + answerButtons;
    }

    function showResults() {
      resultContainer.style.display = "block";
      const answersHtml = userAnswers.map(answer => `<li>${answer}</li>`).join('');
      answersList.innerHTML = answersHtml;
    }

    function nextQuestion(selectedAnswer) {
      userAnswers.push(selectedAnswer);

      if (currentQuestionIndex < questionsAndAnswers.length - 1) {
        currentQuestionIndex++;
        showQuestion(currentQuestionIndex);
        prevButton.removeAttribute("disabled");
      } else {
        nextButton.setAttribute("disabled", true);
        nextButton.innerHTML = "Testi Bitir";
        showResults();
      }
    }

    showQuestion(currentQuestionIndex);

    prevButton.addEventListener("click", () => {
      if (currentQuestionIndex > 0) {
        currentQuestionIndex--;
        showQuestion(currentQuestionIndex);
        nextButton.removeAttribute("disabled");
      }
      if (currentQuestionIndex === 0) {
        prevButton.setAttribute("disabled", true);
      }
    });

    nextButton.addEventListener("click", () => {
      nextQuestion('');
    });
  </script>
</body>