<div class="custom-checkbox-button-group">
  <h2>En sevdiğiniz renkler?</h2>
  <div class="options">
    <button class="btn green" type="checkbox" id="green" name="color" value="green" checked>
      <span class="text">Yeşil</span>
    </button>
    <button class="btn blue" type="checkbox" id="blue" name="color" value="blue">
      <span class="text">Mavi</span>
    </button>
    <button class="btn gray" type="checkbox" id="gray" name="color" value="gray">
      <span class="text">Gri</span>
    </button>
  </div>

